{{define "main"}}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">
                    Edit image
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img
                        src="{{.Recipe.ImageURLOrDefault}}"
                        alt="{{.Recipe.Title}}"
                        class="img-fluid w-100 mb-3"
                        height="500"
                        width="500"
                >
                <form id="editImageForm">
                    <label for="newImage" class="visually-hidden">Select Image to Upload</label>
                    <input type="file" class="form-control" id="newImage" name="image" required>
                </form>
            </div>
            <div class="modal-footer d-flex">
                <button type="submit" class="btn btn-secondary flex-grow-1" form="editImageForm">
                    Save Changes
                </button>

                {{if .Recipe.ImageURL}}
                    <button id="deleteImage" type="submit" class="btn btn-outline-danger" aria-label="Delete Image">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512"
                             fill="currentColor"
                             width="1em"
                             height="1em"
                        >
                            <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                        </svg>
                    </button>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
{{define "scripts"}}
    <script>
        document.querySelector("#editImageForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            await fetchHTML(editImageModal, "/recipes/{{.Recipe.ID}}/image", {
                method: "PUT",
                body: new FormData(event.target),
            });
        });

        document.querySelector("#deleteImage")?.addEventListener("click", async (event) => {
            await fetchHTML(editImageModal, "/recipes/{{.Recipe.ID}}/image", {
                method: "DELETE",
            });
        });
    </script>
{{end}}
