<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Plan weekly meals, generate grocery lists, and organize recipes easily with MealSync. Save time and simplify cooking."
    />
    <title>MealSync</title>
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <h1>{{.Message}}</h1>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
