{{define "title"}}Meal Plan{{end}}

{{define "main"}}
    <h1 class="h2 pb-4">Meal Plan</h1>
    <ul class="list-group">
        {{range .MealsByDate}}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h5 m-0">{{.DayOfWeek}} <span class="text-muted">{{.MonthDay}}</span></h2>
                    <button
                            type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#recipesModal"
                            data-bs-date="{{.DateFormat}}"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"
                                fill="currentColor"
                                width="1em"
                                height="1em"
                                class="me-1"
                        >
                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
                        </svg>
                        Plan
                    </button>
                </div>
                <ul class="list-unstyled">
                    {{range .Meals}}
                        <li class="d-flex align-items-center justify-content-between pt-2">
                            <a
                                    href="/recipes/{{.Recipe.ID}}"
                                    class="d-flex align-items-center fw-semibold text-reset link-underline-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                            >
                                <img
                                        src="{{.Recipe.ImageURLOrDefault}}"
                                        class="me-3 rounded object-fit-cover"
                                        alt="{{.Recipe.Title}}"
                                        width="50"
                                        height="50"
                                >
                                {{.Recipe.Title}}
                            </a>
                            <div class="dropdown">
                                <button
                                        class="btn"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        aria-label="Open dropdown button"
                                >
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512"
                                            fill="currentColor"
                                            width="1em"
                                            height="1em"
                                    >
                                        <path
                                                d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"
                                        />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="POST" action="/meals/{{.ID}}?date={{.Date}}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="dropdown-item text-danger">
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 448 512"
                                                        fill="currentColor"
                                                        width="1em"
                                                        height="1em"
                                                        class="me-1"
                                                >
                                                    <path
                                                            d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
                                                    />
                                                </svg>
                                                Delete
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>

    <div class="d-flex justify-content-between align-items-center pt-3">
        <a href="/meals?date={{.PrevDate}}" class="btn fs-5 fw-semibold" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        <span class="fw-semibold">Week of {{.MonthDayYear}}</span>
        <a href="/meals?date={{.NextDate}}" class="btn fs-5 fw-semibold" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </div>

    <div class="modal fade" id="recipesModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog"></div>
    </div>
{{end}}
{{block "scripts" .}}
    <script nonce="{{.Nonce}}">
        const modal = document.querySelector("#recipesModal");
        modal.addEventListener("show.bs.modal", async (event) => {
            const date = event.relatedTarget.getAttribute("data-bs-date");
            const url = `/meals/recipes/selection?date=${date}`;
            await fetchHTML(modal, url);
        });
    </script>
{{end}}
